body {
  margin: 5rem;
  background-color: lightseagreen;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.first {
  background-color: #fff;
  color: lightseagreen;
  width: 400px;
  height: 400px;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.first button {
  width: 200px;
  background-color: lightseagreen;
  color: white;
  font-weight: bold;
  font-size: large;
  padding: 1rem;
  border: none;
  border-radius: .5rem;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.quiz {

  background-color: white;
  color: lightseagreen;
  border-radius: .5rem;
  padding: 2rem 1.8rem;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.options button {
  width: 200px;
  background-color: rgb(255, 255, 255);
  color: lightseagreen;
  font-weight: bold;
  font-size: large;
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: translateY(var(--translate-y, 0));
}

.options button:hover {
  --translate-y: -2px;
  box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 6px;
}

.options.green button{
  background-color: greenyellow;
}

.options.red button{
  background-color: red;
}

.btn {
  margin-top: 2rem;
  width: 420px;
  background-color:  rgb(14, 121, 116);
  color: white;
  font-weight: bold;
  font-size: large;
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: translateY(var(--translate-y, 0));

}

.btn:hover {
  --translate-y: -2px;
  background-color: rgb(6, 80, 77);
  box-shadow: rgba(0, 0, 0, 0.8) 3px 3px 6px;
}